.footer {
  background-color: #111;
  color: #ccc;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
  margin-top: 40px;
}
.footer-container {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}
.footer-section h3,
.footer-section h4 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin: 5px 0;
}
.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #e50914; /* màu Netflix style */
}
.social-icons {
  display: grid;
  justify-content: space-between;
}
.social-icons a {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 2px solid #333;
  padding-top: 10px;
}
