/* Hero Section */
.hero {
  position: relative;
  height: 200vh;
  display: absolute;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: #fff;
  padding: 0 20px;
}

/* Overlay (để chữ nổi bật hơn) */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Nội dung Hero */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  color: #fff;
  padding: 0 20px;
  margin-left: 50px; /* Căn trái như RoPhim */
  margin-bottom: 100px; /* Đẩy content lên phía trên một chút */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ccc;
}

/* Nút CTA */
.btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #e50914;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 9999px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
  border: none;
  padding: 0;
}

.btn-primary:hover {
  background: #f6121d;
}

/* Responsive */
@media (min-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1.5rem;
  }
}
