.favorite-page {
  display: flex;
  gap: 2rem;
  color: #fff;
  background: #111;
  padding: 2rem;
  min-height: 100vh;
  font-family: "Inter", sans-serif;

  // Sidebar
  .sidebar {
    width: 240px;
    background: #181818;
    border-radius: 12px;
    padding: 1.5rem;

    h2 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      color: #ddd;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 0.8rem 0.6rem;
        margin-bottom: 0.3rem;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ccc;
        border-radius: 8px;
        transition: background 0.3s ease;

        &:hover {
          background: #252525;
          color: #fff;
          cursor: pointer;
        }

        &.active {
          background: #2d2d2d;
          color: #fff;
          font-weight: 500;
        }

        i {
          width: 18px;
          text-align: center;
        }
      }
    }
  }

  // Content
  .favorite-content {
    flex: 1;
    background: #161616;
    border-radius: 12px;
    padding: 1.5rem;

    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .empty-fav {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      background: #1c1c1c;
      border-radius: 12px;
      color: #aaa;
      font-size: 1rem;
    }

    .movies-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 20px;
      justify-items: center;
    }
    .movie-card {
      position: relative;
      width: 100%;
      max-width: 200px;
      border-radius: 10px;
      overflow: hidden;
      background: #1c1c1c;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        display: block;
        border-radius: 10px 10px 0 0;

        @media (max-width: 768px) {
          height: 200px;
        }
        @media (max-width: 480px) {
          height: 160px;
        }
      }

      .movie-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: #fff;

        h4 {
          font-size: 14px;
          flex: 1;
          margin: 0;
        }

        .delete-btn {
          margin-left: 10px;
          background: transparent;
          border: none;
          color: #f66;
          font-size: 18px;
          cursor: pointer;
          transition: 0.2s;
          border-radius: 5px;

          &:hover {
            background: #ff1c1c;
          }
        }
      }
    }
  }
}
