/* Navbar Styling */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c; /* Đậm hơn để nổi bật */
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

/* Title */
.title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 20px;
  font-family: 'Poppins', sans-serif;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.nav-links li a:hover {
  background-color: #ff5722;
  color: white;
}

/* Hamburger Menu */
.hamburger-menu {
    display: flex;
    background-color: #ff5e00;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
    left: 20px;
}
.hamburger{
    background-color: #ff5e00;
    width: 40px;
    height: 40px;
    border: #f0f0f0;
    border-radius: 10px;
}

.hamburger:hover {
    color: #fff;
    background-color: #e95601;
}

.hamburger-line {
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ff5e00;
    color: #000000;
    border: none;
    padding: 15px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: block; /* Hide the menu by default */
    width: 150px;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 12px 8px; /* Add space between the text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu ul li:hover {
    background-color: #f0f0f0;
}
