/* Navbar Styling */
.nav {
    display: flex;
    margin-bottom: 50%;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}

.logo{
    height: 70px;
    width: 70px;
    
}
.navbar .title {
    color: #fff;
    font-size: 1.8rem;
    margin: 0;
}